
<div>
  <h2>Avatar from different sources</h2>
<ngx-avatar (clickOnAvatar)="avatarClicked($event)" facebookId="1508319875" size="70"></ngx-avatar>
<ngx-avatar googleId="103055244388830425867" [round]="false" size="70"></ngx-avatar>
<ngx-avatar twitterId="StevenWilsonHQ" size="70"></ngx-avatar>
<ngx-avatar vkontakteId="210700286" [round]="false" size="70"></ngx-avatar>
<ngx-avatar size="100" githubId="sweko" size="70" ></ngx-avatar>

<!-- use facebook as avatar source, if it fails, it will use twitter -->
<ngx-avatar facebookId="15349439434" twitterId="StevenWilsonHQ" size="70"></ngx-avatar>
<ngx-avatar skypeId="echo" size="70"></ngx-avatar>
<ngx-avatar gravatarId="elmosbahihaithem@gmail.com" size="70"></ngx-avatar>
<ngx-avatar gravatarId="adde9b2b981a8083cf084c63ad86f753" size="70"></ngx-avatar>
<!-- use gravatar as source, if it fails, it will use a fallback image -->
<ngx-avatar gravatarId="adde9b2b981a8083cf084c63aQDQSDQSDd86f753" src="assets/img/avatar.jpg" size="70"></ngx-avatar>

<br>
  <h2>Avatar with fallback</h2>

<!-- Avatar with multiple sources -->
<ngx-avatar facebookId="invalidFBId" twitterId="invalidTwitterHandle"
            gravatarId="invalidGravatarId"
            name="Steven Wilson"
            (clickOnAvatar)="avatarClicked($event)" size="70"></ngx-avatar>

<br><br>

<h2>Initials & Value Avatar</h2>

<ngx-avatar bgColor="red" fgColor="black" size="50" name="Steven Wilson" value="75%" ></ngx-avatar>
<ngx-avatar size="50" name="Haithem Mosbahi"></ngx-avatar>
<ngx-avatar size="50" name="Jhon Doe"></ngx-avatar>
<ngx-avatar size="50" name="Maikeal Akerfekdt"></ngx-avatar>
<ngx-avatar size="50" name="Hubert Wolfeschlegelsteinhausenbergerdorff"></ngx-avatar>
<ngx-avatar size="50" name="Haithem Mosbahi"></ngx-avatar>

<br><br>
<ngx-avatar size="40" value="75%"></ngx-avatar>
<ngx-avatar size="40" cornerRadius="4"  [round]="false" name="Opeth Junior A"></ngx-avatar>
<ngx-avatar size="40" value="1"></ngx-avatar>
<ngx-avatar size="40" borderColor="#000" [round]="false" value="10"></ngx-avatar>

<h2>Asynchrounous Avatars</h2>

<ngx-avatar size="100" [name]="userName" [facebookId]="userFB" ></ngx-avatar>

</div>


